<header>
  <div class="logo">
    <div class="header-logo"></div>
  </div>
  <div class="parent">
    <div class="child">
      <ul>
        <li><a [routerLink]="['']">Home</a></li>
        <li><a [routerLink]="[]">Ny Booking</a></li>
        <li><a [routerLink]="['']">Contact Us</a></li>
      </ul>
    </div>

    <div class="child">
      <ul>
        <li><a [routerLink]="['']">Search</a></li>
        <li><a [routerLink]="[]">User</a></li>
        <li><a [routerLink]="['/login']">Admin</a></li>
      </ul>
    </div>
  </div>
</header>
