<br />
<br />

<div class="container" style="width: 600px">
  <div style="text-align: center">
    <h2><b> Add New Flight </b></h2>
  </div>
  <div class="container" style="width: 550px; border-color: black">
    <form
      #filghtForm="ngForm"
      (submit)="addFlight(filghtForm.value)"
      style="margin-left: 10px"
    >
      <div class="form-group">
        <label for="name"> <h4>Flight Name:</h4> </label>
        <input
          type="text"
          id="fname"
          class="form-control"
          placeholder="Enter flight name "
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="source"> <h4>Source:</h4> </label>
        <input
          type="text"
          id="source"
          class="form-control"
          placeholder="Enter Source "
          ngModel
        />
      </div>

      <div class="form-group">
        <label for="destination"> <h4>Destination:</h4> </label>
        <input
          type="text"
          id="destination"
          class="form-control"
          placeholder="Enter Destination "
          ngModel
        />
      </div>

      <div class="form-group">
        <label for="arrivalTime"> <h4>Arrival Time:</h4> </label>
        <input
          type="time"
          id="arrTime"
          class="form-control"
          placeholder="Enter Arrival Time "
          ngModel
        />
      </div>

      <div class="form-group">
        <label for="departureTime"><h4>Departure Time:</h4> </label>
        <input
          type="time"
          id="deptTime"
          class="form-control"
          placeholder="Enter Departure Time "
          ngModel
        />
      </div>

      <div class="form-group">
        <label for="duration"> <h4>Duration(Hrs.):</h4> </label>
        <input
          type="number"
          id="deptTime"
          class="form-control"
          placeholder="Enter Duration "
          ngModel
        />
      </div>

      <div class="form-group">
        <label for="type"> <h4>Type:</h4> </label>
        <input
          type="text"
          id="type"
          class="form-control"
          placeholder="Enter Type "
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="fare"><h4>Fare(Rs.):</h4></label>
        <input
          type="number"
          id="fare"
          class="form-control"
          placeholder="Enter Fare "
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="column"> <h4>Columns:</h4></label>
        <input
          type="number"
          id="Col"
          class="form-control"
          placeholder="Enter No. of Columns "
          ngModel
        />
      </div>

      <div class="form-group">
        <label for="row"><h4>Rows:</h4> </label>
        <input
          type="number"
          id="row"
          class="form-control"
          placeholder="Enter No. of Rows "
          ngModel
        />
      </div>

      <br />
      <div class="form-group" style="text-align: center">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>
</div>
